<%- include("./partials/header") %>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <div class="content">
                Log In To Your Account
            </div>
        </h2>
        <form class="ui large form" action="/login" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i id="formicon" class="user icon"></i>
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                            required
                        />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i id="formicon" class="lock icon"></i>
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            required
                        />
                    </div>
                </div>
                <input
                    class="ui fluid large teal submit button"
                    type="submit"
                />
            </div>

            <div class="ui error message"></div>
        </form>

        <div class="ui message">New to us? <a href="/register">Sign Up</a></div>
    </div>
</div>
